* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background: #cfd6e6;
    padding: 40px 20px;
    color: #000000;
}

h1 {
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 25px;
    color: #000000;
    
}
h1:hover {
    color: rgba(0, 255, 255, 0.499);
    cursor: crosshair;
    
}

h4{
    text-align: center;
    font-size: smaller;
    color: rgba(107, 138, 165, 0.825);
    margin-bottom: 30px;
    margin-top: 0%;

}

form {
    max-width: 900px;
    margin: auto;
    background: #f3f4f6;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    margin-bottom: 25px;
    font-weight: 600;
}

input,
textarea {
    width: 100%;
    padding: 14px;
    margin-top: 12px;
    border-radius: 12px;
    border: none;
    background: #e5e7eb;
    font-size: 0.95rem;
    transition: 1s;
}

input:hover {
    opacity: 0.2;
}

textarea:hover {
    opacity: 0.2;
}

button {
    width: 100%;
    margin-top: 18px;
    padding: 14px;
    border: none;
    border-radius: 14px;
    background: #020617;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
   transform: scale(1.1); 
    background: #0f172a;
}

.empty,
.details {
    max-width: 900px;
    margin: 0 auto 25px;
    background: #f3f4f6;
    padding: 40px 20px;
    border-radius: 18px;
    text-align: center;
    color: #6b7280;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.empty h2,
.details h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    opacity: 0.6;
}

.empty h2:hover {
    opacity: 1;
}

.details h2:hover {
    opacity: 1;
}

.place-card {
    max-width: 900px;
    margin: 0 auto 20px;
    background: #f3f4f6;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: left;
}

.place-card h3 {
    margin-bottom: 8px;
    color: #111827;
}

.place-card p {
    color: #6b7280;
    margin-bottom: 10px;
}

.place-card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.place-card button {
    float: right;
    background: #ef4444;
    border: none;
    border-radius: 8px;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 0.9rem;
}

.place-card button:hover {
    background: #b91c1c;
}

.place-header {
    display: table;
    align-items: center;           
    margin-bottom: 10px;
}

.place-header h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #111827;
}

